.App {
  width: 100%;
  height: 100vh;
  background-image: url('../src/images/bg6.jpg');
  background-size: cover;
  background-position: center;
}

.logregister{
  padding: 1rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  background-color: rgba(254, 251, 243,0.8);
  border-radius: 5px;
}